/* Write your CSS here */
.background-container {
  background-color: #93c5fd;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-container {
  background-color: white;
  height: 40vh;
  width: 60vh;
  border-radius: 10px;
}
